.product-card {
  background-color: #0e70c088;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #7265ec;
  margin-bottom: 10px;
}

.product-title {
  font-family: "Raleway", sans-serif;
  font-size: 1.4em;
  margin: 8px 0;
  padding-left: 15px;
  font-weight: bold;
  color: #d2782a;
}

.product-description {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  color: #4f4f4f;
  margin: 8px 0;
  text-align: left;
  padding-left: 15px;
}

.product-price {
  font-family: "Raleway", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
  margin: 8px 0x;
  padding-left: 15px;
  padding-bottom: 10px;
}
