/* HEADER */

.main-header {
  font-family: "Bahnschrift Light", sans-serif;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  background-color: #277da1;
  height: 9.6rem;
  padding: 0 4.8rem;
  width: 100%;
  overflow: hidden;
}

.logo-container {
  display: flex;
  justify-content: start;
}

.logo {
  height: 12rem;
  transition: transform 0.3s;
}

.logo:hover {
  transform: scale(1.1);
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.title {
  font-family: "Bahnschrift Semibold", sans-serif;
  font-size: 1.5 rem;
  color: #fff;
  transition: color 0.3s;
}

.title:hover {
  color: #90be6d;
}

@media (max-width: 768px) {
  .main-header {
    flex-direction: column;
    height: auto;
    padding: 1.6rem;
  }

  .logo {
    height: 8rem;
  }

  .header-container {
    justify-content: center;
  }
}
